name: Rust CI/CD

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

      - name: Prepare Vercel output
        run: |
          mkdir -p .vercel/output/functions/api/rust-ci-demo.func
          cp target/debug/rust-ci-demo .vercel/output/functions/api/rust-ci-demo.func/bootstrap
          chmod +x .vercel/output/functions/api/rust-ci-demo.func/bootstrap

          echo '{ "runtime": "provided.al2" }' > .vercel/output/functions/api/rust-ci-demo.func/.vc-config.json
          echo '{ "version": 3 }' > .vercel/output/config.json


      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
